.container {
    border: 2px solid rgb(63, 0, 0);
    position: absolute;
    width: 920px;
    margin: 10px 1%;
    padding: 13px 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    flex-direction :row;

  }
  .card {
    position: initial;
    width: 259px;
    height: 470px;
    margin: 40px 10px;
    overflow: hidden;
  }
  
   img{
    width: 200px;
    margin: 22px;
    position: initial;}
  
  
  h2{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size:30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  h3{
    font-family: cursive;
    margin-top: 20px;
    color: rgb(51, 0, 0);
    font-size:20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  p{
    padding: 2px 31px;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  